<!DOCTYPE html>
<html lang="en" class="overflow-hidden">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="content-language" content="en" />
    <meta name="description"
          content="Visualize JSON - Pick properties - Generate clean, configurable code. Supported languages: C#, TypeScript" />

    <meta property="og:description"
          content="Visualize JSON - Pick properties - Generate clean, configurable code. Supported languages: C#, TypeScript" />
    <meta property="og:title" content="JSONfn - Easy code from JSON" />
    <meta property="og:site_name" content="JSONfn" />
    <meta property="og:url" content="https://www.jsonfn.com" />
    <meta property="og:image" content="https://www.jsonfn.com/jsonfn.png" />
    <meta property="og:image:secure_url" content="https://www.jsonfn.com/jsonfn.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:alt" content="JSONfn logo" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="JSONfn - Easy code from JSON" />
    <meta name="twitter:description"
          content="Visualize JSON - Pick properties - Generate clean, configurable code. Supported languages: C#, TypeScript" />
    <meta name="twitter:image" content="https://www.jsonfn.com/jsonfn.png" />

    <title>JSONfn</title>
    <base href="/" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="icon" type="image/png" href="jsonfn.png" />
    <link rel="canonical" href="https://www.jsonfn.com" />
    <link rel="preconnect" href="https://www.jsonfn.com" />
    <link rel="manifest" href="/manifest.json" />

    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "SoftwareApplication",
        "name": "JSONfn",
        "applicationCategory": "DeveloperTool",
        "operatingSystem": "Web",
        "url": "https://www.jsonfn.com/",
        "description": "Visualize JSON - Pick properties - Generate clean, configurable code. Supported languages: C#, TypeScript",
        "image": "https://www.jsonfn.com/jsonfn.png"
        }
    </script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="site.js"></script>
    <script src="js/tool.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>