@inherits LayoutComponentBase
<header>
    <nav class="nav-container">
        <NavLink class="link" href="/">Home</NavLink>
        <NavLink class="link" href="documentation">Docs</NavLink>
        <NavLink class="link" href="privacy">Privacy</NavLink>
        <NavLink class="link" href="about">About</NavLink>
    </nav>
</header>

<main class="main-page">
    @Body
</main>