@inherits LayoutComponentBase
<header>
    <nav class="nav-container">
        <NavLink class="link" href="tool">Tool</NavLink>
        <NavLink class="link" href="/#docs">Docs</NavLink>
        <NavLink class="link" href="privacy">Privacy</NavLink>
        <NavLink class="link" href="about">About</NavLink>
    </nav>
</header>

<main class="relative w-dvw h-dvh">
    <div id="tool-wasm-loader" class="tool-wasm-loader" role="status" aria-live="polite" aria-label="Loading tool">
        <div class="tool-wasm-loader-content">
            <img class="w-40 md:w-80" src="pickjson.png" />
            <p>Loading...</p>
        </div>
    </div>
    @Body
</main>