@inherits LayoutComponentBase
<div class="page-el">
    <main class="main-el">
        @Body
    </main>

    <div class="bottom-container">

        <div class="ads-container">

            <Cookie OnCookieConsent="HandleCookieConsent"></Cookie>

            @if (CookieConsent)
            {
                <GoogleAd Slot="6738928383" Style="display:inline-block;width:400px;height:90px"></GoogleAd>
                <GoogleAd Slot="6738928383" Style="display:inline-block;width:400px;height:90px"></GoogleAd>
                <GoogleAd Slot="6738928383" Style="display:inline-block;width:400px;height:90px"></GoogleAd>
            }
        </div>

        <footer class="footer-container">
            <NavLink class="link" href="help">Help</NavLink>
            <NavLink class="link" href="privacy">Privacy</NavLink>
        </footer>

    </div>
</div>

@code {
    public bool CookieConsent { get; set; }

    private void HandleCookieConsent(string consent) => CookieConsent = consent == "accepted";
}