<div class="transition-cookie scale-0 cookie-container" data-cookie-consent data-storage-key="@General.StorageKey">
  <p class="min-w-50 md:min-w-100">
    This website uses cookies to display advertisements.
    By accepting, you consent to the use of cookies.<br />
    <a class="link" href="/privacy">Learn more</a>
  </p>

  <div class="cookie-buttons">
    <button type="button" class="transition-gen button-base" data-cookie-action="accepted">Accept</button>
    <button type="button" class="transition-gen button-base" data-cookie-action="rejected">Reject</button>
  </div>
</div>
