@inject IJSRuntime JS
@rendermode @(InteractiveServer)

@if (!HasConsent)
{
  <div class="transition-cookie @(Initialized ? "scale-100" : "scale-0") cookie-container">
    <p class="min-w-50 md:min-w-100">
      This website uses cookies to display advertisements.
      By accepting, you consent to the use of cookies.<br />
      <NavLink class="link" href="/privacy">Learn more</NavLink>
    </p>


    <div class="cookie-buttons">
      <button class="transition-gen button-base" @onclick="Accept">Accept</button>
      <button class="transition-gen button-base" @onclick="Reject">Reject</button>
    </div>
  </div>
}

@code {
  public bool Initialized { get; set; }
  private bool HasConsent;

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (!firstRender) return;
    
    await Task.Delay(500);
    var value = await JS.InvokeAsync<string>("localStorage.getItem", General.StorageKey);
    HasConsent = value == "accepted" || value == "rejected";

    if (value == "accepted")
    {
      await JS.InvokeVoidAsync("loadAdSense");
    }

    Initialized = true;
    StateHasChanged();
  }

  private async Task Accept()
  {
    Initialized = false;
    await Task.Delay(500);
    await JS.InvokeVoidAsync("localStorage.setItem", General.StorageKey, "accepted");
          await JS.InvokeVoidAsync("loadAdSense");

    HasConsent = true;
  }

  private async Task Reject()
  {
    Initialized = false;
    await Task.Delay(500);
    await JS.InvokeVoidAsync("localStorage.setItem", General.StorageKey, "rejected");
    HasConsent = true;
  }
}