<div class="w-auto h-30">
  <ins class="adsbygoogle" @attributes="Attributes">
  </ins>
</div>

@code {
  [Parameter]
  public required string Slot { get; set; }
  [Parameter]
  public required string Style { get; set; }
  [Parameter]
  public string? Format { get; set; }
  [Parameter]
  public bool Responsive { get; set; }

  private Dictionary<string, object> Attributes => BuildAttributes();

  private Dictionary<string, object> BuildAttributes()
  {
    var attrs = new Dictionary<string, object>();

    attrs["data-ad-client"] = "ca-pub-3629979359038521";
    attrs["data-ad-slot"] = Slot;
    attrs["style"] = Style;

    if (!string.IsNullOrWhiteSpace(Format))
      attrs["data-ad-format"] = Format;

    if (Responsive)
      attrs["data-full-width-responsive"] = "true";

    return attrs;
  }
}