@inject IJSRuntime JS

<div class="">
  <ins class="adsbygoogle" style="@Style" data-ad-client="ca-pub-3629979359038521" data-ad-slot="@Slot"
    data-ad-format="@Format" data-full-width-responsive="true">
  </ins>
</div>

@code {
  [Parameter]
  public string Slot { get; set; } = "";
  [Parameter]
  public string Style { get; set; } = "";
  [Parameter]
  public string Format { get; set; } = "";


  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      await JS.InvokeVoidAsync("loadAdSense");
    }
  }
}