@using System.Threading.Tasks
<div class="column h-auto w-25 position-relative" style="top:@(RowOffset* RowHeightPx)px;">

  @foreach (var kvp in CurrentNode.KeyValues)
  {
    <div class="row w-100">
      <button class="border border-primary w-100 d-flex">
        <span class="w-50 text-truncate">@kvp.Key</span>
        <span class="w-50 text-truncate">@kvp.Value</span>
      </button>
    </div>
  }

  @foreach (var child in CurrentNode.Children)
  {
    <div class="row w-100">
      <button class="btn btn-sm btn-primary"
        @onclick="() => ToggleNode(child, CurrentNode.Children.IndexOf(child))">@child.Name</button>
    </div>
  }

</div>

@if (NextNode is not null && NextNode.IsExpanded)
{
  <JNodeView CurrentNode="NextNode" RowOffset="NextRowOffset" OnNodeToggled="PassOnNodeToggled" />
}

@code {
  const int RowHeightPx = 30;

  [Parameter]
  public int RowOffset { get; set; }
  [Parameter]
  public JNode CurrentNode { get; set; } = default!;
  [Parameter]
  public EventCallback<JNode> OnNodeToggled { get; set; }

  public int NextRowOffset { get; set; }

  public JNode? NextNode { get; set; } = null;

  async Task ToggleNode(JNode node, int nodeIndex)
  {
    node.IsExpanded = !node.IsExpanded;
    NextNode = node;
    NextRowOffset = RowOffset + CurrentNode.KeyValues.Count + nodeIndex;

    await OnNodeToggled.InvokeAsync(node);
  }

  async Task PassOnNodeToggled(JNode newNode) => await OnNodeToggled.InvokeAsync(newNode);
}