@using System.Threading.Tasks
<div class="node-col" style="top:@(RowOffset* RowHeightPx)px;">

  @foreach (var kvp in CurrentNode.KeyValues)
  {
    <button class="button-kvp">
      <span class="span-key">@kvp.Key</span>
      <span class="span-value">@kvp.Value</span>
    </button>
  }

  @foreach (var child in CurrentNode.Children)
  {
    <button class="button-node" @onclick="() => ToggleNode(child, CurrentNode.Children.IndexOf(child))">
      <span class="span-key">@child.Name</span>
      <span class="span-value">@child.Type</span>
    </button>
  }

</div>

@if (NextNode is not null && NextNode.IsExpanded)
{
  <JNodeView CurrentNode="NextNode" RowOffset="NextRowOffset" OnNodeToggled="PassOnNodeToggled" />
}

@code {
  const int RowHeightPx = 22;

  [Parameter]
  public int RowOffset { get; set; }
  [Parameter]
  public JNode CurrentNode { get; set; } = default!;
  [Parameter]
  public EventCallback<JNode> OnNodeToggled { get; set; }

  public int NextRowOffset { get; set; }

  public JNode? NextNode { get; set; } = null;

  async Task ToggleNode(JNode node, int nodeIndex)
  {
    node.IsExpanded = !node.IsExpanded;
    NextNode = node;
    NextRowOffset = RowOffset + CurrentNode.KeyValues.Count + nodeIndex;

    await OnNodeToggled.InvokeAsync(node);
  }

  async Task PassOnNodeToggled(JNode newNode) => await OnNodeToggled.InvokeAsync(newNode);
}