<div class="relative">
  <div class="flex flex-col absolute top-(--inp-h) left-0 w-20 h-fit text-xs font-medium hover:border @BackgroundColor">
    @foreach (var option in Collection)
    {
      <button
        class="w-full h-(--inp-h) hover:border truncate @HoverColor @(option.ToString() == CurrentSelected ? SelectedColor : "")"
        @onclick="async () => await OnSelected.InvokeAsync(option.ToString())">
        @option.ToString()
      </button>
    }
  </div>
</div>

@code {
  [Parameter]
  public required Array Collection { get; set; }
  [Parameter]
  public required string BackgroundColor { get; set; }
  [Parameter]
  public required string HoverColor { get; set; }
  [Parameter]
  public required string SelectedColor { get; set; }
  [Parameter]
  public required string CurrentSelected { get; set; }

  [Parameter]
  public EventCallback<string> OnSelected { get; set; }
}