<div class="relative w-20 h-(--inp-h)">
  <div
    class="flex flex-col absolute top-0 left-0 w-20 h-fit text-xs font-medium @(IsToggled ? $"hover:outline-3 {OutlineColor}" : "")"
    @onclick="() => { IsToggled = !IsToggled; }">
    <button class="w-full h-(--inp-h) hover:border truncate">@CurrentSelected</button>
    @if (IsToggled)
    {
      @foreach (var option in Types)
      {
        <button
          class="z-50 w-full h-(--inp-h) hover:border truncate @BackgroundColor @(option.Name == CurrentSelected ? "bg-white" : "")"
          @onclick="async () => await OnSelected.InvokeAsync(option)" @onclick:stopPropagation="true">
          @option.Name
        </button>
      }
    }
  </div>
</div>

@code {
  [Parameter]
  public required List<ITypeScriptTypeOption> Types { get; set; }
  [Parameter]
  public required string CurrentSelected { get; set; }
  [Parameter]
  public required string Target { get; set; }

  [Parameter]
  public EventCallback<ITypeScriptTypeOption> OnSelected { get; set; }

  private bool IsToggled = false;
  private string StickyClass = "";
  private string BackgroundColor = null!;
  private string OutlineColor = null!;


  protected override void OnInitialized()
  {
    if (Target == "sticky")
    {
      OutlineColor = "outline-(--sticky-hov-ol)";
      BackgroundColor = "bg-(--sticky-selection)";
    }
    if (Target == "node")
    {
      OutlineColor = "outline-(--node-hov-ol)";
      BackgroundColor = "bg-(--node-selection)";
    }
  }
}