@import "tailwindcss";

@theme {
  --col-w: 10rem;
  --kvp-w: 9.75rem;
  --sticky-w: 19.75rem;
  --menu-h: 3rem;
  --inp-h: 1.5rem;
  --load-w: 25rem;
  --load-h: 25rem;
  --opt-w: 7rem;
  --bluebutton: var(--color-blue-800);
  --bluebutton-h: var(--color-blue-900);
  --bluebutton-a: var(--color-blue-500);
  --bluebutton-h-a: var(--color-blue-600);
  --sticky: var(--color-teal-600);
  --sticky-hov: var(--color-teal-700);
  --sticky-hov-ol: var(--color-teal-100);
  --sticky-selection: var(--color-teal-400);
  --sticky-selection-active: var(--color-teal-300);
  --sticky-btn-opt: var(--color-teal-800);
  --node: var(--color-teal-400);
  --node-hov: var(--color-teal-500);
  --node-hov-ol: var(--color-teal-100);
  --node-selection: var(--color-teal-300);
  --node-selection-active: var(--color-teal-200);
  --node-btn-opt: var(--color-teal-600);
  --kvp: var(--color-teal-200);
  --kvp-hov: var(--color-teal-300);
  --kvp-sel: var(--color-cyan-400);
  --kvp-sel-hov: var(--color-cyan-500);
  --kvp-sel-hov-ol: var(--color-cyan-100);
  --kvp-selection: var(--color-cyan-300);
  --kvp-selection-active: var(--color-cyan-200);
  --kvp-btn-opt: var(--color-cyan-600);
  --bg-primary: var(--color-slate-800);
}

@layer components {
  .div-node {
    @apply flex flex-1 w-fit mb-1 bg-(--node) hover:bg-(--node-hov);
  }

  .div-node-selected {
    @apply flex flex-1 w-fit mb-1 bg-(--node) hover:bg-(--node-hov) hover:z-30 hover:outline-3 hover:outline-(--node-hov-ol);
  }

  .button-node {
    @apply w-(--kvp-w) h-(--inp-h) flex flex-1 items-center divide-dotted divide-x;
  }

  .button-kvp {
    @apply w-(--kvp-w) h-(--inp-h) flex items-center divide-dotted divide-x;
  }

  .button-kvp-selected {
    @apply w-(--kvp-w) h-(--inp-h) flex items-center divide-dotted divide-x;
  }

  .div-kvp {
    @apply flex flex-1 mb-1 bg-(--kvp) hover:bg-(--kvp-hov);
  }

  .div-kvp-selected {
    @apply flex flex-1 w-fit mb-1 bg-(--kvp-sel) hover:bg-(--kvp-sel-hov) hover:z-30 hover:outline-3 hover:outline-(--kvp-sel-hov-ol);
  }

  .button-sticky-inactive {
    @apply box-border border border-white min-w-(--sticky-w) max-w-(--sticky-w) h-(--inp-h) flex items-center divide-dotted divide-x;
  }

  .button-sticky-inactive-selected {
    @apply box-border border border-white min-w-(--sticky-w)  max-w-(--sticky-w) h-(--inp-h) flex items-center divide-dotted divide-x;
  }

  .button-sticky-active {
    @apply box-border border border-white min-w-(--col-w) max-w-(--col-w) h-(--inp-h) flex items-center divide-dotted divide-x;
  }

  .button-sticky-active-selected {
    @apply box-border border border-white min-w-(--col-w) max-w-(--col-w) h-(--inp-h) flex items-center divide-dotted divide-x;
  }

  .div-sticky-inactive {
    @apply sticky top-1 z-20 flex flex-1 w-fit max-h-(--inp-h) -translate-x-(--kvp-w) items-center mb-1 bg-(--sticky) hover:bg-(--sticky-hov);
  }

  .div-sticky-inactive-selected {
    @apply sticky top-1 z-20 flex flex-1 w-fit max-h-(--inp-h) -translate-x-(--kvp-w) items-center mb-1 bg-(--sticky) hover:bg-(--sticky-hov) hover:z-30 hover:outline-2 hover:outline-(--sticky-hov-ol);
  }

  .div-sticky-active {
    @apply sticky top-1 z-20 flex flex-1 w-fit max-h-(--inp-h) items-center mb-1 bg-(--sticky) hover:bg-(--sticky-hov);
  }

  .div-sticky-active-selected {
    @apply sticky top-1 z-20 flex flex-1 w-fit max-h-(--inp-h) items-center mb-1 bg-(--sticky) hover:bg-(--sticky-hov) hover:z-30 hover:outline-2 hover:outline-(--sticky-hov-ol);
  }

  .div-count {
    @apply w-4 h-(--inp-h) flex items-center justify-center bg-white/40 border-r border-white;
  }

  .count {
    @apply px-1 text-xs font-medium font-mono text-sky-900;
  }

  .key {
    @apply px-1 flex flex-1 items-center h-full text-start text-xs truncate;
  }

  .value {
    @apply px-1 text-start text-[0.5rem];
  }

  .div-value {
    @apply relative min-w-12 max-w-12 flex justify-between items-center h-full;
  }

  .button-options {
    @apply absolute flex items-center justify-center left-0 top-0 w-6 h-(--inp-h) text-center text-xs -translate-x-6;
  }

  .node-col {
    @apply pt-1 flex flex-col relative w-40 overflow-visible select-none;
  }

  .json-menu {
    @apply flex space-x-2 w-full py-2;
  }

  .code-menu {
    @apply flex space-x-2 w-full py-2 justify-end;
  }

  .code-options {
    @apply flex flex-col w-0 space-y-2;
  }

  .code {
    @apply p-2 bg-(--bg-primary) flex flex-1 overflow-y-auto text-xs text-cyan-400;
  }

  .select-base {
    @apply h-(--inp-h) text-xs font-medium text-white bg-(--bluebutton) hover:bg-(--bluebutton-h) disabled:opacity-50;
  }

  .button-base {
    @apply h-(--inp-h) line-clamp-1 text-white text-xs font-medium p-1 bg-(--bluebutton) hover:bg-(--bluebutton-h) active:scale-95;
  }

  .button-base-active {
    @apply h-(--inp-h) line-clamp-1 text-white text-xs font-medium p-1 bg-(--bluebutton-a) hover:bg-(--bluebutton-h-a) active:scale-95;
  }

  .transition-input {
    @apply transition-all duration-150 origin-top;
  }

  .transition-cookie {
    @apply transition-all duration-300;
  }

  .transition-gen {
    @apply transition-all duration-50;
  }

  .transition-val {
    @apply transition-all duration-50 origin-right;
  }

  .transition-opt {
    @apply transition-all duration-100 origin-left;
  }

  .sentinel {
    @apply h-0;
  }

  .page {
    @apply z-10 pt-5 pb-12 flex flex-col w-full h-full bg-cyan-900;
  }

  .node-col-container {
    @apply pl-1 flex flex-col;
  }

  .section-landing {
    @apply flex flex-col space-y-2 md:space-y-5 leading-relaxed text-cyan-400 select-none;
  }

  .app-container {
    @apply flex flex-col px-2 pb-2 w-full h-11/12 md:h-10/12 overflow-y-auto relative;
  }

  .json-container {
    @apply flex flex-col w-full h-1/2;
  }

  .code-container {
    @apply flex flex-col w-full h-1/2;
  }

  .div-cookie {
    @apply absolute z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .cookie-container {
    @apply absolute z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex w-90 md:w-200 bg-cyan-600 text-white text-xs md:text-sm p-5 items-center justify-between select-none;
  }

  .bottom-container {
    @apply px-2 pb-2 flex items-center justify-center w-full h-20 md:min-h-2/12 md:max-h-2/12;
  }

  @media (min-width: 768px) {
    .page {
      @apply pb-0;
    }

    .app-container {
      @apply flex-row;
    }

    .json-container {
      @apply w-3/5 h-full;
    }

    .code-container {
      @apply pl-2 w-2/5 h-full;
    }
  }

  .nav-container {
    @apply absolute top-0 z-50 w-full flex justify-start items-center space-x-5 px-2 h-5 bg-(--bg-primary);
  }

  .node-container {
    @apply px-1 bg-(--bg-primary) overflow-y-auto flex flex-1 items-start w-full;
  }

  .link {
    @apply underline font-bold text-xs text-white;
  }

  .cookie-buttons {
    @apply flex space-x-2;
  }

  .load-menu {
    @apply flex flex-col w-full bg-sky-100 overflow-hidden;
  }

  .load-textarea {
    @apply flex-1 p-2 text-xs w-full h-full resize-none bg-sky-100 hover:bg-sky-200;
  }

  .load-input {
    @apply p-1 h-(--inp-h) w-full bg-sky-100 hover:bg-sky-200;
  }

  .load-button {
    @apply flex h-(--inp-h) items-center bg-sky-100 hover:bg-sky-200;
  }

  .load-label {
    @apply text-xs;
  }

  .load-checkbox {
    @apply w-5 h-(--inp-h) pointer-events-none bg-sky-100 hover:bg-sky-200;
  }

  .tool-wasm-loader {
    @apply absolute top-0 left-0 -z-10 flex h-dvh w-dvw items-center justify-center bg-cyan-900;
  }

  .tool-wasm-loader-content {
    @apply flex flex-col items-center gap-3 text-4xl italic tracking-[0.02em] text-cyan-300;
  }
}
