@import "tailwindcss";

@theme {
  --cw: 10rem;
  --ncw: 9.75rem;
  --menu-h: 3rem;
  --btn-h: 1.5rem;
  --load-w: 50rem;
  --load-h: 25rem;
  --opt-w: 7rem;
  --bluebutton: var(--color-blue-800);
  --bluebutton-h: var(--color-blue-900);
  --bluebutton-a: var(--color-blue-400);
  --bluebutton-h-a: var(--color-blue-500);
}

@layer components {
  .div-node {
    @apply flex flex-1 w-fit mb-1 bg-orange-200 hover:z-50 hover:outline-2 hover:outline-orange-400;
  }

  .button-node {
    @apply w-(--ncw) h-6 hover:bg-orange-300 flex items-center divide-dotted divide-x;
  }

  .node-option-label {
    @apply text-xs font-medium text-center w-15;
  }

  .node-option-button {
    @apply px-1 flex h-6 w-20 items-center hover:bg-orange-300;
  }

  .node-option-checkbox {
    @apply w-5 h-6 pointer-events-none hover:bg-orange-300;
  }

  .node-option-select {
    @apply w-20 h-6 text-xs font-medium hover:bg-orange-300;
  }

  .button-kvp {
    @apply w-(--ncw) h-6 hover:bg-gray-300 flex items-center divide-dotted divide-x;
  }

  .button-kvp-selected {
    @apply w-(--ncw) h-6 hover:bg-sky-300 flex items-center divide-dotted divide-x;
  }

  .div-kvp {
    @apply flex flex-1 mb-1 bg-gray-200;
  }

  .div-kvp-selected {
    @apply flex flex-1 w-fit mb-1 bg-sky-200 divide-x-2 divide-solid divide-sky-300 hover:z-50 hover:outline-2 hover:outline-sky-400;
  }

  .kvp-option-label {
    @apply text-xs font-medium text-center w-15;
  }

  .kvp-option-button {
    @apply px-1 flex h-6 w-20 items-center hover:bg-sky-300;
  }

  .kvp-option-checkbox {
    @apply w-5 h-6 pointer-events-none hover:bg-sky-300;
  }

  .kvp-option-select {
    @apply w-20 h-6 text-xs font-medium hover:bg-sky-300;
  }

  .button-sticky-inactive {
    @apply w-[calc(var(--cw)*2)] h-6 flex items-center divide-dotted divide-x;
  }

  .button-sticky-inactive-selected {
    @apply w-[calc(var(--cw)*2)] h-6 flex items-center divide-dotted divide-x;
  }

  .button-sticky-active {
    @apply w-(--cw) h-6 flex items-center divide-dotted divide-x;
  }

  .button-sticky-active-selected {
    @apply w-(--cw) h-6 flex items-center divide-dotted divide-x;
  }

  .div-sticky-inactive {
    @apply sticky top-1 z-40 flex flex-1 w-fit max-h-6 -translate-x-(--cw) items-center mb-1 bg-yellow-100 hover:bg-yellow-200;
  }

  .div-sticky-inactive-selected {
    @apply sticky top-1 z-40 flex flex-1 w-fit max-h-6 -translate-x-(--cw) items-center mb-1 bg-yellow-100 hover:bg-yellow-200 hover:z-50 hover:outline-2 hover:outline-yellow-300 divide-x-2 divide-solid divide-yellow-300;
  }

  .div-sticky-active {
    @apply sticky top-1 z-40 flex flex-1 w-fit max-h-6 items-center mb-1 bg-yellow-100 hover:bg-yellow-200;
  }

  .div-sticky-active-selected {
    @apply sticky top-1 z-40 flex flex-1 w-fit max-h-6 -translate-x-(--cw) items-center mb-1 bg-yellow-100 hover:bg-yellow-200 hover:z-50 hover:outline-2 hover:outline-yellow-300 divide-x-2 divide-solid divide-yellow-300;
  }

  .sticky-option-label {
    @apply text-xs font-medium text-center w-15;
  }

  .sticky-option-button {
    @apply px-1 flex h-6 w-20 items-center justify-center bg-yellow-100 hover:bg-yellow-200;
  }

  .sticky-option-checkbox {
    @apply w-5 h-6 pointer-events-none bg-yellow-100 hover:bg-yellow-200;
  }

  .sticky-option-select {
    @apply w-20 h-6 text-xs font-medium bg-yellow-100 hover:bg-yellow-200;
  }

  .div-count {
    @apply w-4 h-6 flex items-center justify-center bg-white/40;
  }

  .div-count-hidden {
    @apply w-4 h-6 opacity-100;
  }

  .span-count {
    @apply px-1 text-xs font-medium font-mono text-sky-900;
  }

  .span-key {
    @apply px-1 flex flex-1 items-center h-full text-start text-xs font-bold truncate;
  }

  .span-value {
    @apply px-1 w-12 flex items-center h-full text-start text-xs italic truncate;
  }

  .span-value-type {
    @apply px-1 w-12 flex items-center h-full text-center text-xs font-medium truncate;
  }

  .node-col {
    @apply pt-1 flex flex-col relative w-40 overflow-visible;
  }

  .node-col-container {
    @apply pl-1 flex flex-col;
  }

  .app-container {
    @apply flex w-full h-full divide-solid divide-x divide-black;
  }

  .node-container {
    @apply px-1 bg-slate-800 overflow-y-auto flex flex-1 items-start w-full;
  }

  .json-container {
    @apply flex flex-col w-3/5 divide-y divide-solid divide-black;
  }

  .json-menu {
    @apply flex space-x-2 px-2 w-full h-(--menu-h) items-center;
  }

  .json-option {
    @apply flex w-(--opt-w) px-2;
  }

  .code-container {
    @apply flex flex-col w-2/5 divide-y divide-solid divide-black;
  }

  .code-menu {
    @apply flex w-full h-(--menu-h) items-center;
  }

  .code-option {
    @apply flex flex-col items-center justify-center h-full w-auto px-2;
  }

  .code-option-label {
    @apply line-clamp-1 text-black text-xs font-medium;
  }

  .code-option-select {
    @apply h-(--btn-h) border border-black rounded text-xs font-medium text-white bg-(--bluebutton) hover:bg-(--bluebutton-h) disabled:opacity-50;
  }

  .code {
    @apply p-5 bg-sky-100 w-full flex flex-1 overflow-y-auto text-xs;
  }

  .button-base {
    @apply h-(--btn-h) border border-black rounded line-clamp-1 text-white text-xs font-medium p-1 bg-(--bluebutton) hover:bg-(--bluebutton-h) active:scale-95;
  }

  .button-base-active {
    @apply h-(--btn-h) border border-black rounded line-clamp-1 text-white text-xs font-medium p-1 bg-(--bluebutton-a) hover:bg-(--bluebutton-h-a) active:scale-95;
  }

  .transition-input {
    @apply transition-all duration-150 origin-left;
  }

  .transition-tree {
    @apply transition-all duration-50;
  }

  .transition-gen {
    @apply transition-all duration-50;
  }

  .sentinel {
    @apply h-0;
  }

  .page-el {
    @apply flex flex-col w-screen h-screen divide-y divide-solid divide-black;
  }

  .main-el {
    @apply flex flex-col w-full h-5/6;
  }

  .bottom-container {
    @apply flex flex-col w-full h-1/6 divide-y divide-solid divide-black;
  }

  .ads-container {
    @apply flex flex-1 w-full justify-around items-center;
  }

  .footer-container {
    @apply flex justify-between items-center px-2 h-4;
  }

  .link {
    @apply underline text-xs;
  }

  .cookie-container {
    @apply flex flex-col space-y-2 px-20 py-5 text-center items-center;
  }

  .cookie-buttons {
    @apply flex space-x-2;
  }

  .load-menu {
    @apply flex flex-col border rounded z-50 absolute top-0 left-0 w-(--load-w) h-(--load-h) bg-sky-100 overflow-hidden;
  }

  .load-buttons-row {
    @apply flex border-t w-full divide-solid divide-x divide-black;
  }

  .load-textarea {
    @apply flex-1 p-2 text-xs w-full h-full resize-none;
  }

  .load-input {
    @apply p-1 flex rounded-sm bg-sky-100 hover:bg-sky-200;
  }

  .load-label {
    @apply text-xs;
  }

  .load-checkbox {
    @apply w-5 h-full bg-sky-100 hover:bg-sky-200;
  }

  .load-select {
    @apply p-1 w-full text-xs font-medium hover:bg-sky-200;
  }

  .button-load {
    @apply w-1/2 h-(--btn-h) text-white text-xs p-1 bg-(--bluebutton) hover:bg-(--bluebutton-h);
  }
}
