@page "/docs"

<PageTitle>PickJSON - Docs</PageTitle>

<div class="w-full px-5 md:px-50 py-12 text-white overflow-y-scroll">

  <div class="div-cookie">
    <Cookie OnCookieConsent="HandleCookieConsent" />
  </div>

  <p class="mb-6  italic leading-relaxed">
    Load JSON and get a visual overview of the data structure.<br />
    Pick the properties needed for your application.<br />
    Effortlessly configure the generated code.
  </p>

  <h2 class="mt-8 mb-3 text-3xl font-light">
    Load JSON
  </h2>

  <h3 class="mt-6 mb-2 text-lg font-light">
    Load JSON from text
  </h3>

  <p class="mb-6 leading-relaxed">
    Press <strong>Load TEXT</strong> and paste JSON text into the textarea field.<br />
    Press <strong>OK</strong>.
  </p>

  <h3 class="mt-6 mb-2 text-lg font-light">
    Load JSON from URL
  </h3>

  <p class="mb-6 leading-relaxed">
    Press <strong>Load URL</strong> and paste a URL into the input field.<br />
    If needed, provide any additional headers required for authorization etc.
  </p>

  <p class="leading-relaxed">
    <strong>Example: </strong><br /> Header key: <i>Authorization</i>, Header value: <i>Bearer
      -your-token-</i>
  </p>
  <img src="docs-header-ex-1.png" class="w-100 mb-6" />

  <p class="mb-2 leading-relaxed">
    If the URL uses <strong>Basic</strong> authorization
  </p>

  <p class="leading-relaxed">
    <strong>Example 1: </strong><br /> Header key: <i>Authorization</i>, Header value: <i>Basic -username:password-</i>
  </p>
  <img src="docs-header-ex-2.png" class="w-100 mb-6" />

  <p class="leading-relaxed">
    <strong>Example 2: </strong><br /> Header key: <i>Authorization</i>, Header value: <i>Basic -base64-key-</i>,
    <u>check Base64</u>
  </p>
  <img src="docs-header-ex-3.png" class="w-100 mb-6" />

  <h2 class="mt-8 mb-3 text-3xl font-light">
    Pick properties
  </h2>

  <p class="mb-4 leading-relaxed">
    The loaded JSON is rendered as a tree structure, with objects and arrays rendered as nested branches.
  </p>

  <p class="mb-6 leading-relaxed">
    Selecting key-value-pairs will generate properties for the class it belongs to
    and all necessary ancestor relationships if the class is a descendant of root.
  </p>

  <p class="mb-6 leading-relaxed">
    Complex types are noted as '{}' and '[]' for objects and arrays respectively.<br />
    Primitive types and arrays are noted as-is.<br />
    When the JSON value is null or an empty array, the type is noted as 'object' or 'object[]' (C#), 'null' or
    'unknown[]' (TypeScript).
  </p>

  <h2 class="mt-8 mb-3 text-3xl font-light">
    Configure generated code
  </h2>

  <h3 class="mt-6 mb-2 text-lg font-light italic">
    General language options
  </h3>

  <p class="mb-3">
    Setting an option in the menu will toggle that option for all properties
  </p>
  <img src="docs-options-menu.png" class="w-50 mb-6" />

  <p class="mb-3">
    Setting an option in the tree will toggle that option for the current property
  </p>
  <img src="docs-options-tree.png" class="w-100 mb-6" />

  <div class="px-6">

    <h4 class="mt-4 mb-2 font-light">
      Collections
    </h4>

    <ul class="mb-6 list-disc space-y-1 pl-6 leading-relaxed">
      <div class="flex">
        <p class="w-25"><i>C#</i></p>
        <p>List, IEnumerable, ICollection, Array</p>
      </div>
      <div class="flex">
        <p class="w-25"><i>TypeScript</i></p>
        <p>Array, Set</p>
      </div>

      <p class="mb-3">
        Collections can be set to allow null or undefined items
      </p>
    </ul>

    <h4 class="mt-4 mb-2 font-light">
      Nullable
    </h4>
  </div>

  <h3 class="mt-6 mb-2 text-lg font-light italic">
    C# options
  </h3>

  <div class="px-6">
    <h4 class="mt-4 mb-2 font-light">
      JSON library
    </h4>

    <ul class="mb-6 list-disc space-y-1 pl-6">
      <li>System.Text.Json</li>
      <li>Newtonsoft.Json</li>
    </ul>

    <h4 class="mt-4 mb-2 font-light">
      Naming convention
    </h4>

    <ul class="mb-6 list-disc space-y-1 pl-6">
      <p class="mb-6 leading-relaxed">
        Selecting a naming convention will generate a
        JsonProperty / JsonPropertyName annotation for all properties.
      </p>
    </ul>

    <h4 class="mt-4 mb-2 font-light">
      JSON library annotations
    </h4>

    <ul class="mb-6 list-disc space-y-1 pl-6">
      <p class="mb-6 leading-relaxed">
        Select the annotations you need for any property.
      </p>
    </ul>
  </div>

  <h3 class="mt-8 mb-2 text-lg font-light italic">
    TypeScript options
  </h3>

  <div class="px-6">
    <h4 class="mt-4 mb-2 font-light">
      Optional
    </h4>

    <h4 class="mt-4 mb-2 font-light">
      ZodSchema
    </h4>
    <p class="mb-6 pl-6">
      Setting this option will generate a ZodSchema for your class/type/interface
    </p>
  </div>

  <h2 class="mt-8 mb-3 text-3xl font-light">
    Additional information
  </h2>

  <h3 class="mt-6 mb-2 text-lg font-light italic">
    C#
  </h3>

  <div class="px-6">
    <h4 class="mt-4 mb-2 font-light">
      Type inconsistency / Unions
    </h4>

    <p class="mb-6 pl-6">
      Because C# does not currently support unions, JSON key-value-pairs with type inconsistencies will generate
      multiple properties that map from the same key.
    </p>
    <div class="mb-6 pl-6 flex flex-wrap space-x-5">
      <pre class="code flex-none">
"continent": [
  {
    "name": "Africa",
    "population": 1400000000,
  },
  {
    "name": "Antarctica",
    "population": "0",
  },
      </pre>
      <img src="docs-csharp-unions.png" />
    </div>
    <div class="pl-6">
      <pre class="code flex-none w-100">
public class continent
{
  public string name { get; set; }

  // Use json annotations to map this property
  public int population_int { get; set; }

  // Use json annotations to map this property
  public string population_string { get; set; }
      </pre>
    </div>

    <h2 class="mt-8 mb-3 text-3xl font-light">
      Known bugs
    </h2>

    <ul class="mb-6 list-disc space-y-1 pl-6">
      <li>
        <h3 class="mt-6 mb-2 text-lg font-light italic">
          JSON with keys including a '^' character will parse incorrectly.
        </h3>
      </li>
    </ul>

    <p>
      Help maintain this project by reporting bugs to
      <a href="mailto:pickjson@outlook.com" class="text-blue-300 underline hover:text-blue-500">
        pickjson@outlook.com
      </a>.
    </p>

  </div>

  <div class="w-full h-30 mt-5">
    @if (CookieConsent)
    {
      <GoogleAd Slot="9056333487" Style="display:inline-block;width:300px;height:90px"></GoogleAd>
    }
  </div>
</div>

@code {
  public bool CookieConsent { get; set; }
  private void HandleCookieConsent(string? consent) => CookieConsent = consent == "accepted";
}