@page "/documentation"

<PageTitle>Documentation</PageTitle>

<div class="w-full px-5 md:px-50 py-12 text-white overflow-y-auto">

  <p class="mb-6  italic leading-relaxed">
    Load JSON and get a visual overview of the data structure.<br />
    Select the key-value-pairs needed for your application.<br />
    Effortlessly configure the generated code.
  </p>

  <h2 class="mt-8 mb-3 text-3xl font-light">
    Load JSON
  </h2>

  <h3 class="mt-6 mb-2 text-lg font-light">
    Load JSON from text
  </h3>

  <p class="mb-6 leading-relaxed">
    Press <strong>Load TEXT</strong> and paste JSON text into the textarea field.<br />
    Press <strong>OK</strong>.
  </p>

  <h3 class="mt-6 mb-2 text-lg font-light">
    Load JSON from URL
  </h3>

  <p class="mb-6 leading-relaxed">
    Press <strong>Load URL</strong> and paste a URL into the input field.<br />
    If needed, provide any additional headers required for authorization etc.<br /><br />
    <strong>Example: </strong><br /> Header key: <i>Authorization</i>, Header value: <i>Bearer
      -your-token-</i><br /><br />
    If the URL uses <strong>Basic</strong> authorization, set Header value to:<br />
    <i>Basic -username:password-</i> and check Base64.<br />
    OR -<br />
    <i>Basic -your-base64-login-</i><br />
    Press <strong>OK</strong>.
  </p>

  <h2 class="mt-8 mb-3 text-3xl font-light">
    Select key-value-pairs
  </h2>

  <p class="mb-4 leading-relaxed">
    The key-value-pairs for the loaded JSON are rendered as a tree structure.
    Objects and arrays are rendered as nested branches with their own set of key-value-pairs.
  </p>

  <p class="mb-6 leading-relaxed">
    Selecting key-value-pairs will generate properties for the class it belongs to
    and all necessary ancestor relationships if the class is a descendant of root.
  </p>

  <p class="mb-6 leading-relaxed">
    Complex types are noted as '{}' and '[]' for objects and arrays respectively.<br />
    Primitive types and arrays are noted as-is.<br />
    Primitive types noted as 'object' or 'object[]' means the JSON value was null or an empty array, meaning the
    datatype
    cannot be inferred.
  </p>

  <h2 class="mt-8 mb-3 text-3xl font-light">
    Configure generated code
  </h2>

  <p class="mb-6 leading-relaxed">
    Configure the language-specific options to suit your application.
  </p>

  <h3 class="mt-6 mb-2 text-lg font-light italic">
    C#
  </h3>

  <div class="px-6">
    <h4 class="mt-4 mb-2 font-light">
      JSON library
    </h4>

    <ul class="mb-6 list-disc space-y-1 pl-6">
      <li>System.Text.Json</li>
      <li>Newtonsoft.Json</li>
    </ul>

    <h4 class="mt-4 mb-2 font-light">
      Naming convention
    </h4>

    <ul class="mb-6 list-disc space-y-1 pl-6">
      <p class="mb-6 leading-relaxed">
        Selecting a naming convention will generate a
        JsonProperty / JsonPropertyName annotation for all properties.
      </p>
    </ul>

    <h4 class="mt-4 mb-2 font-light">
      Collection type
    </h4>

    <ul class="mb-6 list-disc space-y-1 pl-6">
      <p class="mb-3 leading-relaxed">
        Selecting a collection type in the menu will set all collections across all classes
        to that type.
      </p>

      <p class="mb-6 leading-relaxed">
        Selecting a collection type in the rendered tree will set that specific
        key-value-pair to that type.
      </p>
    </ul>

    <h4 class="mt-4 mb-2 font-light">
      Nullable type
    </h4>

    <ul class="mb-6 list-disc space-y-1 pl-6">
      <p class="mb-3 leading-relaxed">
        Setting nullable in the menu will toggle nullable for all properties across all classes.
      </p>

      <p class="mb-6 leading-relaxed">
        Setting nullable in the rendered tree will toggle nullable for that specific
        key-value-pair.
      </p>
    </ul>

    <h4 class="mt-4 mb-2 font-light">
      Annotations (coming soon)
    </h4>

    <ul class="mb-6 list-disc space-y-1 pl-6">
      <p class="mb-6 leading-relaxed">
        Select the annotations you need for any key-value-pair.
      </p>
    </ul>
  </div>

  <h3 class="mt-8 mb-2 text-lg font-light italic">
    TypeScript
  </h3>

  <p class="mb-6 leading-relaxed">
    TypeScript support coming soon.
  </p>
</div>