@page "/"
@using JsonUI_blazor.Components
@inject HttpClient httpClient
@inject JsonBuilder jsonBuilder

<PageTitle>Home</PageTitle>
<div class="w-screen h-auto">

  <div>
    <input type="text" @bind="url" class="input-base" />
    <button class="button-base" @onclick="GetRequest">Get</button>
  </div>

  <div class="node-container">
    @if (jNodes?.Count > 0)
    {
      <JNodeView CurrentNode="jNodes[0]" OnNodeToggled="HandleNodeToggled" />
    }
  </div>
</div>

@code {
  string url = "https://lldev.thespacedevs.com/2.3.0/launches/eea43b3f-eddc-437a-ada5-8e23286f1eef/";
  List<JNode> jNodes = new();
  JNode? activeNode;

  async Task GetRequest()
  {
    HttpResponseMessage? response = await httpClient.GetAsync(url);
    response.EnsureSuccessStatusCode();

    var jsonContent = await response.Content.ReadAsStringAsync();
    var result = jsonBuilder.CreateFromJson(jsonContent);
    jNodes = result is not null ? result : jNodes;
  }

  void HandleNodeToggled(JNode newNode)
  {
    if (newNode == activeNode)
    {
      activeNode = activeNode.Parent;
      return;
    }

    JNode iteratingNode;

    if (activeNode is not null)
    {
      iteratingNode = activeNode;
      iteratingNode.IsExpanded = false;

      while (iteratingNode.Parent is not null)
      {
        iteratingNode = iteratingNode.Parent;
        iteratingNode.IsExpanded = false;
      }
    }

    activeNode = newNode;
    iteratingNode = activeNode;
    iteratingNode.IsExpanded = true;

    while (iteratingNode.Parent is not null)
    {
      iteratingNode = iteratingNode.Parent;
      iteratingNode.IsExpanded = true;
    }
  }
}