@page "/"
@using JsonUI_blazor.Components
@inject HttpClient httpClient

<PageTitle>Home</PageTitle>

<div class="menu">
  <input type="text" @bind="url" class="input-base" />
  <button class="button-base" @onclick="FetchRequest">Fetch</button>
</div>

<div class="app-container">
  <div class="node-container" id="node-container">
    @if (jNodes?.Count > 0)
    {
      <JNodeView CurrentNode="jNodes[0]" ContainerHeight="nodeContainerHeight" OnNodeToggled="HandleNodeToggled"
        OnKvpSelected="HandleKvpSelected" />
    }
  </div>

  <pre class="code">@_code</pre>
</div>

@code {
  string url = "https://lldev.thespacedevs.com/2.3.0/launches/58e080d1-90cd-42ac-8152-9f56fc580f8d/";
  string _code = "";
  List<JNode> jNodes = new();
  int nodeContainerHeight;

  protected override async Task OnInitializedAsync()
  {
    var json = await httpClient.GetStringAsync("j.json");
    jNodes = JNodeBuilder.CreateFromJson(json)!;
  }

  async Task FetchRequest()
  {
    try
    {
      HttpResponseMessage? response = await httpClient.GetAsync(url);
      response.EnsureSuccessStatusCode();

      var jsonContent = await response.Content.ReadAsStringAsync();
      var result = JNodeBuilder.CreateFromJson(jsonContent);
      jNodes = result is not null ? result : jNodes;
    }
    catch (Exception ex)
    {
      Console.WriteLine($"// BASE - {ex.GetBaseException().Message} // INNER - {ex.InnerException?.Message} // SOURCE - {ex.Source} // STACKTRACE - {ex.StackTrace} // TARGETSITE - {ex.TargetSite}");
    }
  }

  async Task HandleNodeToggled(JNode newNode)
  {
    var toggleTo = !newNode.IsExpanded;
    jNodes.ForEach(n => n.IsExpanded = false);

    newNode.IsExpanded = toggleTo;
    nodeContainerHeight = (newNode.KeyValues.Count + newNode.Children.Count) * General.RowHeightPx;

    if (newNode.Parent is not null)
    {
      var iteratingNode = newNode;

      do
      {
        iteratingNode = iteratingNode.Parent;
        iteratingNode.IsExpanded = true;
        nodeContainerHeight += (iteratingNode.KeyValues.Count + iteratingNode.Children.Count) * General.RowHeightPx;
      }
      while (iteratingNode.Parent is not null);
    }

    nodeContainerHeight += 500;
    await InvokeAsync(StateHasChanged);
  }

  void HandleKvpSelected()
  {
    _code = JNodeBuilder.JNodesToCSharp(jNodes);
  }
}