@page "/"
@using JsonUI_blazor.Components
@inject HttpClient httpClient
@inject JsonBuilder jsonBuilder

<PageTitle>Home</PageTitle>
<div class="container">

  <div>
    <input type="text" @bind="url" class="form-control" />
    <button class="form-control" @onclick="GetRequest">Get</button>
  </div>

  <div class="container p-0 m-0 bg-primary-subtle d-flex">
    @if (jNodes?.Count > 0)
    {
      <JNodeView CurrentNode="jNodes[0]" />
    }
  </div>
</div>

@code {
  string url = "https://lldev.thespacedevs.com/2.3.0/launches/eea43b3f-eddc-437a-ada5-8e23286f1eef/";
  List<JNode> jNodes = new();

  async Task GetRequest()
  {
    HttpResponseMessage? response = await httpClient.GetAsync(url);
    response.EnsureSuccessStatusCode();

    var jsonContent = await response.Content.ReadAsStringAsync();
    var result = jsonBuilder.CreateFromJson(jsonContent);
    jNodes = result is not null ? result : jNodes;
  }
}