@page "/"

<PageTitle>Home</PageTitle>

<div class="div-landing px-5 md:px-50">

  <section class="section-landing bg-cyan-800">
    <h1 class="text-center md:text-start text-xl font-medium">Generate code
      from JSON
    </h1>
    <p class="text-center md:text-start italic">
      Visualize complex JSON
    </p>

    <p class="text-center md:text-start italic">
      Pick properties interactively
    </p>

    <p class="text-center md:text-start italic">
      Generate clean, configurable code
    </p>
    <p class="font-light text-white text-xs">
      Fast and clutter-free classes/interfaces/types.<br />
      Full guide: <NavLink class="link font-normal" href="documentation" target="_blank">
        Documentation</NavLink>
    </p>
    <NavLink class="button-base text-4xl font-medium italic text-center text-white w-full h-auto mt-5" href="tool">Go
    </NavLink>
  </section>

</div>