@page "/"
@using JsonUI_blazor.Components
@using static General
@inject HttpClient httpClient

<PageTitle>Home</PageTitle>

<div class="menu">
  <input type="text" @bind="url" class="input-base" />
  <button class="button-base" @onclick="FetchRequest">Fetch</button>
  <div class="options">
    <label class="options-label">Default collection</label>
    <select class="options-select" @bind="DefaultCollection">
      @foreach (var o in General.GetCollectionOptions())
      {
        <option value="@o">@o.ToString()</option>
      }
    </select>
  </div>
  <div class="options">
    <label class="options-label">Use pascalcase</label>
    <input class="options-checkbox" type="checkbox" @bind="UsePascalCase" />
  </div>
  <div class="options">
    <label class="options-label">Default to nullable</label>
    <input class="options-checkbox" type="checkbox" @bind="DefaultNullable" />
  </div>
</div>

<div class="app-container">
  <div class="node-container" id="node-container">
    @if (jNodes?.Count > 0)
    {
      <JNodeView CurrentNode="jNodes[0]" ContainerHeight="nodeContainerHeight" OnNodeToggled="HandleNodeToggled"
        OnKvpSelected="RenderCode" />
    }
  </div>

  <pre class="code">@_code</pre>
</div>

@code {
  string url = "https://lldev.thespacedevs.com/2.3.0/launches/58e080d1-90cd-42ac-8152-9f56fc580f8d/";
  string _code = "";
  List<JNode> jNodes = new();
  int nodeContainerHeight;

  private CSharpOptions csOptions;
  public CollectionType DefaultCollection
  {
    get => csOptions.DefaultCollection;
    set
    {
      csOptions.DefaultCollection = value;
      jNodes.ForEach(x => x.SetNodeCollectionAs(value));
      jNodes.ForEach(x => x.SetKvpsCollectionAs(value));
      RenderCode();
    }
  }
  public bool UsePascalCase
  {
    get => csOptions.UsePascalCase;
    set
    {
      csOptions.UsePascalCase = value;
      RenderCode();
    }
  }
  public bool DefaultNullable
  {
    get => csOptions.DefaultNullable;
    set
    {
      csOptions.DefaultNullable = value;
      jNodes.ForEach(x => x.SetNullable(value));
      RenderCode();
    }
  }

  protected override async Task OnInitializedAsync()
  {
    var json = await httpClient.GetStringAsync("j.json");
    jNodes = JNodeBuilder.CreateFromJson(json, csOptions)!;
    jNodes.ForEach(x => x.SetKvpsCollectionAs(DefaultCollection));
    jNodes.ForEach(x => x.SetNodeCollectionAs(DefaultCollection));
    nodeContainerHeight = (jNodes[0].KeyValues.Count + jNodes[0].Children.Count) * General.RowHeightPx;
  }

  async Task FetchRequest()
  {
    try
    {
      HttpResponseMessage? response = await httpClient.GetAsync(url);
      response.EnsureSuccessStatusCode();

      var jsonContent = await response.Content.ReadAsStringAsync();
      var result = JNodeBuilder.CreateFromJson(jsonContent, csOptions);
      jNodes = result is not null ? result : jNodes;
    }
    catch (Exception ex)
    {
      Console.WriteLine($"// BASE - {ex.GetBaseException().Message} // INNER - {ex.InnerException?.Message} // SOURCE - {ex.Source} // STACKTRACE - {ex.StackTrace} // TARGETSITE - {ex.TargetSite}");
    }
  }

  async Task HandleNodeToggled(JNode newNode)
  {
    var toggleTo = !newNode.IsExpanded;
    jNodes.ForEach(n => n.IsExpanded = false);

    newNode.IsExpanded = toggleTo;
    nodeContainerHeight = (newNode.KeyValues.Count + newNode.Children.Count) * General.RowHeightPx;

    if (newNode.Parent is not null)
    {
      var iteratingNode = newNode;

      do
      {
        iteratingNode = iteratingNode.Parent;
        iteratingNode.IsExpanded = true;
        nodeContainerHeight += (iteratingNode.KeyValues.Count + iteratingNode.Children.Count) * General.RowHeightPx;
      }
      while (iteratingNode.Parent is not null);
    }

    await InvokeAsync(StateHasChanged);
  }

  void RenderCode()
  {
    _code = JNodeBuilder.JNodesToCSharp(jNodes, csOptions);
  }
}