<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  
      <!-- Required for Blazor WASM -->
      <staticContent>
        <remove fileExtension=".blat" />
        <remove fileExtension=".dat" />
        <remove fileExtension=".dll" />
        <remove fileExtension=".webcil" />
        <remove fileExtension=".json" />
        <remove fileExtension=".wasm" />
        <remove fileExtension=".woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".webcil" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      </staticContent>
      <httpCompression>
        <dynamicTypes>
          <add mimeType="application/octet-stream" enabled="true" />
          <add mimeType="application/wasm" enabled="true" />
        </dynamicTypes>
      </httpCompression>

      <rewrite>
        <rules>

          <!-- Block common bot scan paths -->
          <rule name="BlockBadPaths" stopProcessing="true">
            <match url="(wp-admin|wordpress|\.php|/admin|/api)" />
            <action type="CustomResponse" statusCode="404" />
          </rule>

          <!-- Serve existing files normally -->
          <rule name="StaticFiles" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" />
            </conditions>
            <action type="None" />
          </rule>

          <!-- SPA fallback ONLY for non-files -->
          <rule name="BlazorSPA" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{URL}" pattern="\.[a-zA-Z0-9]+$" negate="true" />
            </conditions>
            <action type="Rewrite" url="/" />
          </rule>

        </rules>
      </rewrite>

  </system.webServer>
</configuration>
